$color_player_0: #909CC2;
$color_player_1: #D9BDC5;
$color_player_2: #90C290;
$color_player_3: #9D8189;
@mixin player_colors($attribute: background-color) {
    @if $attribute == border-color {
        &.player_0 { border-color: $color_player_0; }
        &.player_1 { border-color: $color_player_1; }
        &.player_2 { border-color: $color_player_2; }
        &.player_3 { border-color: $color_player_3; }
    } @else {
        &.player_0 { background-color: $color_player_0; }
        &.player_1 { background-color: $color_player_1; }
        &.player_2 { background-color: $color_player_2; }
        &.player_3 { background-color: $color_player_3; }
    }
}


.none { display: none; }
.devinfo {
    font-size: smaller;
    color: rgba(200, 200, 200, 0.4);
}
.ui_box {
    font-size: 20px;
    margin-top: 10px;
    padding: 4px 8px;
    color: #666666;
    border-radius: 7px;
    background-color: #FFE082;
    display: inline-block;
}
.ui_box.watch {
    background-color: #C5E1A5;
}

body {
    font-family: sans-serif;
    width: 660px;
    color: #222;
    background-color: #82B1FF;
    background-image:
        repeating-linear-gradient(45deg, #82B1FF, #82B1FF 25px, #86B7FF 25px, #86B7FF 50px);
    user-select: none;
}

body.evening {
    background-color: #FF9E80;
    background-image:
        repeating-linear-gradient(45deg, #FF9E80, #FF9E80 25px, #FFA685 25px, #FFA685 50px);
}

.title {
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px 3px #444,
    -2px 2px 3px #444,
    2px -2px 3px #444,
    -2px -2px 3px #444;
}

/* ---- Player colors ---- */

.player_0 { background-color: #909CC2; }
.player_1 { background-color: #D9BDC5; }
.player_2 { background-color: #90C290; }
.player_3 { background-color: #9D8189; }

/* ---- Home ---- */

#home {
    width: 590px;
    margin: 20px 60px;
}
#home small {
    font-size: 12px;
    margin-left: 1em;
}

#matching_name_box {
    margin: 5px;
    padding: 10px;
    width: 350px;
}
#matching_name {
    font-size: 20px;
}
#home hr {
    margin-left: 5px;
    width: 510px;
}
.menu_button {
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    padding-left: 10px;
    vertical-align: middle;
    color: #666666;
    display: inline-block;
    width: 130px;
    height: 60px;
    border-radius:7px;
    background-color: #FFCA28;
    border-style: solid;
    border-width: 5px;
    border-color: #FF9800;

    font-weight: bold;
    text-shadow:
         2px  2px 2px #FFD54F,
        -2px  2px 2px #FFD54F,
         2px -2px 2px #FFD54F,
        -2px -2px 2px #FFD54F;
}

.watch .menu_button {
    border-color: #7CB342;
    background-color: #8BC34A;
    text-shadow: none;
}

.menu_button.promote {
    animation: promote 7s infinite;
}

@keyframes promote {
    0% { background-color: #FFCA28; }
   50% { background-color: #FF9800; text-shadow: none; }
  100% { background-color: #FFCA28; }
}

.menu_button.inactive {
    color: #607D8B;
    border-color: #90A4AE;
    background-color: #B0BEC5;
    text-shadow: none;
}

.ui_button {
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    color: #666;
    display: inline-block;
    border-radius:7px;
    background-color: #FFCA28;
    text-align: center;

    font-weight: bold;
    text-shadow:
         2px  2px 2px #FFD54F,
        -2px  2px 2px #FFD54F,
         2px -2px 2px #FFD54F,
        -2px -2px 2px #FFD54F;
}
#matching_button_deck {
    width: 100px;
}

#home_menu {
    height: calc(100vh - 280px);
}

table.player {
    width: 160px;
    border-radius: 5px;
}
.player td {
    vertical-align: bottom; 
}
.player_salary {
    font-size: smaller;
}
.player_salary.boosted {
    font-weight: bold;
}
.player_talon {
    font-size: smaller;
}

#board { position: relative; }
.relative { position: relative; }
#board table {
    border-style: solid; border-width: 1px;
    border-radius: 7px;
}
.field {
    background-color: #FFE082;
}
#board .field td {
    width: 50px; height: 40px; background-color: #FFF8E1; text-align: center;
    border-bottom: solid 10px #FFF8E1;
}
#board .field .landmark { background-color: #B0BEC5 }
#board .field td {
    @include player_colors();
}

.click {
    position: absolute; top: 0px; left: 0px;
}
.click td {
    width: 40px; height: 40px; border: 5px solid #FFCA28;
    border-color: transparent;
    z-index: 1;
    background-color: transparent; text-align: center;

    font-size: 13px;
    vertical-align: bottom;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    text-shadow:
      1px 1px 1px rgba(255, 255, 255, 0.5),
     -1px 1px 1px rgba(255, 255, 255, 0.5),
     1px -1px 1px rgba(255, 255, 255, 0.5),
    -1px -1px 1px rgba(255, 255, 255, 0.5);
}
.click td {
    @include player_colors(border-color);
}

#board th {
    width: 50px; height: 25px;
}
#message {
    width: 640px; height: 30px; margin: 10px 0px; padding: 5px;
    background-color: #EEEEEE; text-align: center;
    border-style: none; border-radius: 5px; border-width: 1px;
}
#message {
    @include player_colors();
}

#deck_char {
    width: 260px;
    margin-bottom: 10px;
}
.deck_char {
    width: 50px; height: 50px; background-color: #FFF8E1;
    font-size: 15px;
    text-align: center;
    vertical-align: top;
}

#buttons {
    display: inline-block;
    width: 460px;
}
#buttons div {
    display: inline-block;
    vertical-align: top;
}

#chat {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 40px;
    padding: 20px;
    font-size: 25px;
    background-color: #FFCA28;
    border-radius: 10px;
}
#watchers {
    display: inline-block;
    vertical-align: top;
    width: 85px;
    height: 40px;
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 10px;
}
.dice_button {
    position: relative;
    width: 120px; height: 80px; padding: 0px;
    font-size: 40px;
    border-radius: 10px;
    background-color: #FFCA28;
}

#buttons_dice1_1 {
    position: absolute;
    top: 13px;
    left: 32px;
}
#buttons_dice2_1 {
    position: absolute;
    top: 7px;
    left: 5px;
}
#buttons_dice2_2 {
    position: absolute;
    top: 16px;
    left: 54px;
}

#buttons_char_card {
    width: 80px; height: 55px; padding: 10px; padding-top: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: #FFCA28;
}
#buttons_end_turn {
    width: 70px; height: 55px; padding: 10px; padding-top: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: #FFCA28;
}

/* Motion elements should have width and height. */
#money_motion {
    width: 40px; height: 40px;
}

.card_area {
    width: 650px;
    height: 150px;
}
#list_cards {
    height: calc(100vh - 100px);
    position: relative;
}
#deck_cards {
    height: calc(100vh - 520px);
    position: relative;
}

.scrollable {
    overflow-y: scroll;
}
.scrollable::-webkit-scrollbar {
    width: 7px;
    background: transparent;
}
.scrollable::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.5);
}

table.card {
    display: inline-block;
    width: 98px; height: 140px;
    border: solid 3px #EEEEEE;
    border-radius: 3px;
    margin: 0px;
}
table.card.landmark { background-color: #B0BEC5 }
table.card.player_0 { background-color: #909CC2 }
table.card.player_1 { background-color: #D9BDC5 }
table.card.player_2 { background-color: #90C290 }
table.card.player_3 { background-color: #9D8189 }

.card_description {
    font-size: 12px; height: 70px;
}

/* ---- Stamps ---- */

.stamp_box {
    width: 470px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.2);
}

.stamp_box .stamp {
    display: inline-block;
}

.stamp {
    width: 140px;
    height: 60px;
    font-size: 18px;
    padding-top: 5px;
    text-align: center;
    color: #222;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
}

.konnichiwa {
    color: red;
    text-shadow:
      1px 1px 1px white,
     -1px 1px 1px white,
     1px -1px 1px white,
    -1px -1px 1px white;
}

.dokidoki {
    color: yellow;
    text-shadow:
      1px 1px 1px red,
     -1px 1px 1px red,
     1px -1px 1px red,
    -1px -1px 1px red;
}

.sugoi {
    color: lightblue;
    text-shadow:
     1px 1px 1px blue,
    -1px 1px 1px blue,
    1px -1px 1px blue,
   -1px -1px 1px blue;
}

.otsukare {
    font-size: 17px;
    color: yellow;
    text-shadow:
     1px 1px 1px green,
    -1px 1px 1px green,
    1px -1px 1px green,
   -1px -1px 1px green;
}

.ureshii {
    font-size: 20px;
    color: white;
    text-shadow:
     1px 1px 1px red,
    -1px 1px 1px red,
    1px -1px 1px red,
   -1px -1px 1px red;
}

.iina {
    color: yellow;
    text-shadow:
     1px 1px 1px orange,
    -1px 1px 1px orange,
    1px -1px 1px orange,
   -1px -1px 1px orange;
}

.omedetou {
    font-size: 17px;
    color: white;
    text-shadow:
     1px 1px 1px red,
    -1px 1px 1px red,
    1px -1px 1px red,
   -1px -1px 1px red;
}

.mouichido {
    color: red;
    text-shadow:
     1px 1px 1px white,
    -1px 1px 1px white,
    1px -1px 1px white,
   -1px -1px 1px white;
}

.hanaremasu {
    color: white;
    text-shadow:
     1px 1px 1px blue,
    -1px 1px 1px blue,
    1px -1px 1px blue,
   -1px -1px 1px blue;
}

/* ---- Dice ---- */

.cube {
    transform-style: preserve-3d;
    position: relative;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
}

.cube div:nth-child(1) {
    transform: rotateY(90deg) translateX(-47%) rotateY(-90deg);
}

.cube div:nth-child(2) {
    transform: translateY(47%) rotateX(-90deg);
}

.cube div:nth-child(3) {
    transform: translateX(47%) rotateY(90deg);
}

.cube div:nth-child(4) {
    transform: translateX(-47%) rotateY(-90deg);
}

.cube div:nth-child(5) {
    transform: translateY(-47%) rotateX(90deg);
}

.cube div:nth-child(6) {
    transform: rotateY(90deg) translateX(47%) rotateY(90deg);
}

.dice_view {
    display: inline-block;
    transform-style: preserve-3d;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
}

.dice {
    transform-style: preserve-3d;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.dice_face {
    position: absolute;
    top: 0pt;
    left: 0pt;
    width: 100%;
    height: 100%;
    border: 3px solid #EEEEEE;
    background-color: #FFFFFF;
    color: transparent;
    line-height: 100%;
    font-size: 1em;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    border-radius: 10%;
}

.pip1 {
    background: radial-gradient(red 22%, white 28%);
}

.pip2 {
    background:
        radial-gradient(15% 15% at 29% 29%, black 75%, transparent),
        radial-gradient(15% 15% at 71% 71%, black 75%, white);
}

.pip3 {
    background:
        radial-gradient(13% 13% at 25% 25%, black 75%, transparent),
        radial-gradient(13% 13% at 50% 50%, black 75%, transparent),
        radial-gradient(13% 13% at 75% 75%, black 75%, white);
}

.pip4 {
    background:
        radial-gradient(13% 13% at 28% 28%, black 75%, transparent),
        radial-gradient(13% 13% at 28% 72%, black 75%, transparent),
        radial-gradient(13% 13% at 72% 28%, black 75%, transparent),
        radial-gradient(13% 13% at 72% 72%, black 75%, white);
}

.pip5 {
    background:
        radial-gradient(13% 13% at 25% 25%, black 75%, transparent),
        radial-gradient(13% 13% at 25% 75%, black 75%, transparent),
        radial-gradient(13% 13% at 50% 50%, black 75%, transparent),
        radial-gradient(13% 13% at 75% 25%, black 75%, transparent),
        radial-gradient(13% 13% at 75% 75%, black 75%, white);
}

.pip6 {
    background:
        radial-gradient(13% 13% at 28% 20%, black 75%, transparent),
        radial-gradient(13% 13% at 28% 50%, black 75%, transparent),
        radial-gradient(13% 13% at 28% 80%, black 75%, transparent),
        radial-gradient(13% 13% at 72% 20%, black 75%, transparent),
        radial-gradient(13% 13% at 72% 50%, black 75%, transparent),
        radial-gradient(13% 13% at 72% 80%, black 75%, white);
}

.face1 {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.face2 {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}
.face3 {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(90deg);
}
.face6 {
    transform: rotateX(180deg) rotateY(0deg) rotateZ(90deg);
}
.face5 {
    transform: rotateX(180deg) rotateY(90deg) rotateZ(90deg);
}
.face4 {
    transform: rotateX(270deg) rotateY(90deg) rotateZ(90deg);
}

.roll {
    animation: roll 1s linear;
    animation-iteration-count: infinite;
}
@keyframes roll {
      0% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 0); }
     25% { transform: rotateZ(20deg) rotate3d(1, -1, 0, 0.25turn); }
     50% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 0.50turn); }
     75% { transform: rotateZ(70deg) rotate3d(1, -1, 0, 0.75turn); }
    100% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 1.00turn); }
}

@keyframes roll_end1 {
      0% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 0); }
     25% { transform: rotateZ(20deg) rotate3d(1, -1, 0, 0.25turn); }
     50% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 0.5turn); }
     75% { transform: rotateZ(70deg) rotate3d(1, -1, 0, 0.75turn); }
    100% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 1turn); }
}

@keyframes roll_end2 {
      0% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 0); }
     50% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 0.25turn) rotateZ(-45deg) rotateY(-45deg); }
    100% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 0.25turn) rotateZ(-45deg) rotateY(-45deg); }
}

@keyframes roll_end3 {
      0% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 0); }
     50% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 0.25turn) rotateZ(-45deg) rotateY(-45deg) rotateZ(90deg); }
    100% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 0.25turn) rotateZ(-45deg) rotateY(-45deg) rotateZ(90deg); }
}

@keyframes roll_end6 {
      0% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 0); }
     25% { transform: rotateZ(20deg) rotate3d(1, -1, 0, 0.25turn); }
     50% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 0.5turn); }
    100% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 0.5turn); }
}

@keyframes roll_end5 {
      0% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 0); }
     25% { transform: rotateZ(20deg) rotate3d(1, -1, 0, 0.25turn); }
     50% { transform: rotateZ(10deg) rotate3d(1, -1, 0, 0.5turn); }
    100% { transform: rotateZ(0deg)  rotate3d(1, -1, 0, 0.75turn) rotateZ(-45deg); }
}

@keyframes roll_end4 {
      0% { transform: rotateZ(45deg) rotate3d(1, -1, 0, 0); }
     25% { transform: rotateZ(20deg) rotate3d(1, -1, 0, 0.25turn); }
     50% { transform: rotateZ(10deg) rotate3d(1, -1, 0, 0.5turn); }
    100% { transform: rotateZ(0deg)  rotate3d(1, -1, 0, 0.75turn) rotateZ(45deg); }
}
